project:
  name: 'example'
  bot:
    name: 'example-gc-bot'
    channel: '#example'
    server: 'chat.freenode.net'
    port: 6667
  feeds:
    issues: 600
    downloads: 600
    wiki: 600
  issues:
    username: example@gmail.com
    password: example
  logging: True
  privignore:
  - ChanServ
  - jmhobbs